<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

<nav id="audio-player" class="navbar is-fixed-bottom" data-turbo-permanent th:fragment="audio-player">

<!--    <audio controls>-->
<!--        <source src="https://doppler.sfdc.sh/podlytics/heroku-codeish/track-dl/https://www2.assets.heroku.com/podcasts/codeish/Codeish_Episode_113_principles_of_pragmatic_engineering.mp3" type="audio/x-mp3">-->
<!--        Your browser does not support the audio tag.-->
<!--    </audio>-->

</nav>

</body>
</html>