<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/doc/head :: main-head('Listen')" />
<body>

<!-- scripts -->
<th:block th:replace="fragments/nav/navbar :: main-navigation" />

<section class="section">
    <h1 class="title">Listen</h1>

    <a class="button" th:href="${navigateBackUrl}">Back</a>

    <div id="audio-player">

        <audio id="my-audio" controls class="is-hidden">
            <source th:src="${audioUrl}"
                    th:type="${audioType}">
            Your browser does not support the audio tag.
            <!-- place fallback here as <audio> supporting browsers will ignore it -->
            <p>Download<a th:href="${audioUrl}">audiofile.mp3</a></p>
        </audio>

        <progress id="progress" class="progress is-small" value="0" max="100"></progress>
        <div id="controls">

            <button id="play" class="button is-hidden">
            <span class="icon">
                <i class="fas fa-play"></i>
            </span>
            </button>
            <button id="pause" class="button is-hidden">
            <span class="icon">
                <i class="fas fa-pause"></i>
            </span>
            </button>
           <!-- <button id="toggleTrack" class="button" name="play-next">
            <span class="icon">
                <i class="fas fa-step-forward"></i>
            </span>
            </button>-->
            <span id="loading">loading</span>
            <span id="clock">00:00:00</span>/<span id="duration">00:00:00</span>
        </div>

    </div>

</section>

<script type="application/javascript">

    document.addEventListener("DOMContentLoaded", function(event) {

        var myAudio = document.getElementById('my-audio');
        var play = document.getElementById('play');
        var pause = document.getElementById('pause');
        var loading = document.getElementById('loading');
        var progress = document.getElementById('progress');
        var changeTrack = document.getElementById('toggleTrack');
        var duration = document.getElementById('duration');

        //  changeTrack.addEventListener('click', function() {
        //      myAudio.pause();
        //      progress.value = 0;
        //      progress.textContent = "0%";
        //      clock.textContent = "00:00:00";
        //      pause.classList.add('is-hidden');
        //      play.classList.remove('is-hidden');
        //      myAudio.src = "https://s3.eu-central-1.amazonaws.com/airhacks.fm/airhacksfm_132.mp3";
        //   });

        progress.addEventListener('click', function(e) {

          // calculate the normalized position clicked
          var clickPosition = (e.pageX  - this.offsetLeft) / this.offsetWidth;
          var clickTime = clickPosition * myAudio.duration;

          // move the playhead to the correct position
          myAudio.currentTime = clickTime;
        });

           function displayControls() {
                loading.classList.toggle('is-hidden');
              play.classList.toggle('is-hidden');
           }

           // check that the media is ready before displaying the controls
           if (myAudio.paused) {
              displayControls();
           } else {
              // not ready yet - wait for canplay event
              myAudio.addEventListener('canplay', function() {
                 displayControls();
              });
           }

           play.addEventListener('click', function() {
              myAudio.play();
              play.classList.toggle('is-hidden');
              pause.classList.toggle('is-hidden');
           });

           pause.addEventListener('click', function() {
              myAudio.pause();
              pause.classList.toggle('is-hidden');
              play.classList.toggle('is-hidden');
           });

           // display progress

           myAudio.addEventListener('timeupdate', function() {
              //sets the percentage
              progress.value = parseInt(((myAudio.currentTime / myAudio.duration) * 100), 10)
              progress.textContent = progress.value + "%";
              clock.textContent = new Date(myAudio.currentTime * 1000).toISOString().substr(11, 8);;
           });

          myAudio.addEventListener("loadstart", function() {
          //grabbing the file
            console.log('loading start');
        });

          myAudio.addEventListener("durationchange", function(e) {
          //you can display the duration now
            console.log('duration change');
            duration.textContent = new Date(myAudio.duration * 1000).toISOString().substr(11, 8);
        });

          myAudio.addEventListener("loadedmetadata", function() {
          //you can display the duration now
            console.log('loaded metadata');
        });

          myAudio.addEventListener("loadeddata", function() {
          //you could display the playhead now
            console.log('loaded data');
        });

          myAudio.addEventListener("progress", function() {
          // you could let the user know the media is downloading
            console.log('progress');
        });

          myAudio.addEventListener("canplay", function() {
          //audio is ready to play
            console.log('can play');
        });

          myAudio.addEventListener("canplaythrough", function() {
          //audio is ready to play all the way through
            console.log('can play through');
        });

           myAudio.addEventListener("suspend", function() {
          //audio is ready to play all the way through
            console.log('suspend');
        });

           myAudio.addEventListener("abort", function() {
          //audio is ready to play all the way through
            console.log('abort');
        });

           myAudio.addEventListener("error", function() {
          //audio is ready to play all the way through
            console.log('error');
        });

           myAudio.addEventListener("emptied", function() {
          //audio is ready to play all the way through
            console.log('emptied');
        });

           myAudio.addEventListener("stalled", function() {
          //audio is ready to play all the way through
            console.log('stalled');
        });
           myAudio.addEventListener("timeupdate", function() {
          //update something related to playback progress
             console.log('time update');
        });

          myAudio.addEventListener("playing", function() {
          //update something related to playback progress
             console.log('playing');
        });

          myAudio.addEventListener("waiting", function() {
          //update something related to playback progress
             console.log('waiting');
        });

          myAudio.addEventListener("play", function() {
          //update something related to playback progress
             console.log('play');
        });

          myAudio.addEventListener("pause", function() {
          //update something related to playback progress
             console.log('pause');
        });

          myAudio.addEventListener("ended", function() {
          //update something related to playback progress
             console.log('ended');
        });

    });

    </script>

</body>
</html>