<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/doc/head :: main-head('Listen')" >
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/59c238cb06.js" crossorigin="anonymous"></script>   
</head>
<body>

<!-- scripts -->
<th:block th:replace="fragments/nav/navbar :: main-navigation" />

<section class="section">

    <h1 class="title">Listen</h1>
   
    <div id="audio-player">

		<figure class="image is-128x128">
			<img th:src="${item.episodeImageUrl}" src="https://bulma.io/images/placeholders/128x128.png">
		</figure>
        
    	<p class="title is-5" th:text="${item.episodeTitle}">Episode Title</p>

        <audio id="my-audio" controls class="is-hidden">
            <source th:src="${item.episodeAudioUrl}" src="https://traffic.megaphone.fm/SED3513321205.mp3"
                    th:type="${item.episodeAudioType}" type="audio/mpeg">
            Your browser does not support the audio tag.
            <!-- place fallback here as <audio> supporting browsers will ignore it -->
            <p><a th:href="${item.episodeAudioUrl}" href="https://traffic.megaphone.fm/SED3513321205.mp3">Download</a></p>
        </audio>

        <progress id="progress" class="progress is-small" value="0" max="100"></progress>

        <span id="loading">loading</span>
        <span id="clock">00:00:00</span>/<span id="duration">00:00:00</span>
        
        <div id="controls">
        
			<button id="rewind" class="button is-hidden">
				<span class="icon">
					<i class="fas fa-backward"></i>
				</span>
			</button>
			
			<button id="play" class="button is-hidden">
				<span class="icon">
					<i class="fas fa-play"></i>
				</span>
			</button>
			<button id="pause" class="button is-hidden">
				<span class="icon">
					<i class="fas fa-pause"></i>
				</span>
			</button>
			
			<button id="fast-forward" class="button is-hidden">
				<span class="icon">
					<i class="fas fa-forward"></i>
				</span>
			</button>
           
        </div>

    </div>

    <a class="button" th:href="${navigateBackUrl}">Back</a>
    
</section>

<script type="application/javascript">

    document.addEventListener("DOMContentLoaded", function(event) {

        var myAudio = document.getElementById('my-audio');
        var play = document.getElementById('play');
        var pause = document.getElementById('pause');
        var fastForward = document.getElementById('fast-forward');
        var rewind = document.getElementById('rewind');
        var loading = document.getElementById('loading');
        var progress = document.getElementById('progress');
        var changeTrack = document.getElementById('toggleTrack');
        var duration = document.getElementById('duration');

        //  changeTrack.addEventListener('click', function() {
        //      myAudio.pause();
        //      progress.value = 0;
        //      progress.textContent = "0%";
        //      clock.textContent = "00:00:00";
        //      pause.classList.add('is-hidden');
        //      play.classList.remove('is-hidden');
        //      myAudio.src = "https://s3.eu-central-1.amazonaws.com/airhacks.fm/airhacksfm_132.mp3";
        //   });

        progress.addEventListener('click', function(e) {

          // calculate the normalized position clicked
          var clickPosition = (e.pageX  - this.offsetLeft) / this.offsetWidth;
          var clickTime = clickPosition * myAudio.duration;

          // move the playhead to the correct position
          myAudio.currentTime = clickTime;
        });

           function displayControls() {
                loading.classList.toggle('is-hidden');
              	play.classList.toggle('is-hidden');
              	//fastForward.classList.toggle('is-hidden');
              	//rewind.classList.toggle('is-hidden');
           }

           // check that the media is ready before displaying the controls
           if (myAudio.paused) {
              displayControls();
           } else {
              // not ready yet - wait for canplay event
              myAudio.addEventListener('canplay', function() {
                 displayControls();
              });
           }

           play.addEventListener('click', function() {
              myAudio.play();
              play.classList.toggle('is-hidden');
               fastForward.classList.toggle('is-hidden');
                rewind.classList.toggle('is-hidden');
              pause.classList.toggle('is-hidden');
           });

           pause.addEventListener('click', function() {
              myAudio.pause();
              pause.classList.toggle('is-hidden');
              play.classList.toggle('is-hidden');
              fastForward.classList.toggle('is-hidden');
                rewind.classList.toggle('is-hidden');
           });
           
           fastForward.addEventListener('click', function() {
	          // move the playhead to the correct position
	          myAudio.currentTime = myAudio.currentTime + 30;
           });
           
           rewind.addEventListener('click', function() {
	          // move the playhead to the correct position
	          myAudio.currentTime = myAudio.currentTime - 30;
           });

           // display progress

           myAudio.addEventListener('timeupdate', function() {
              //sets the percentage
              progress.value = parseInt(((myAudio.currentTime / myAudio.duration) * 100), 10)
              progress.textContent = progress.value + "%";
              clock.textContent = new Date(myAudio.currentTime * 1000).toISOString().substr(11, 8);;
           });

          myAudio.addEventListener("loadstart", function() {
          //grabbing the file
            console.log('loading start');
        });

          myAudio.addEventListener("durationchange", function(e) {
          //you can display the duration now
            console.log('duration change');
            duration.textContent = new Date(myAudio.duration * 1000).toISOString().substr(11, 8);
        });

          myAudio.addEventListener("loadedmetadata", function() {
          //you can display the duration now
            console.log('loaded metadata');
        });

          myAudio.addEventListener("loadeddata", function() {
          //you could display the playhead now
            console.log('loaded data');
        });

          myAudio.addEventListener("progress", function() {
          // you could let the user know the media is downloading
            console.log('progress');
        });

          myAudio.addEventListener("canplay", function() {
          //audio is ready to play
            console.log('can play');
        });

          myAudio.addEventListener("canplaythrough", function() {
          //audio is ready to play all the way through
            console.log('can play through');
        });

           myAudio.addEventListener("suspend", function() {
          //audio is ready to play all the way through
            console.log('suspend');
        });

           myAudio.addEventListener("abort", function() {
          //audio is ready to play all the way through
            console.log('abort');
        });

           myAudio.addEventListener("error", function() {
          //audio is ready to play all the way through
            console.log('error');
        });

           myAudio.addEventListener("emptied", function() {
          //audio is ready to play all the way through
            console.log('emptied');
        });

           myAudio.addEventListener("stalled", function() {
          //audio is ready to play all the way through
            console.log('stalled');
        });
           myAudio.addEventListener("timeupdate", function() {
          //update something related to playback progress
             console.log('time update');
        });

          myAudio.addEventListener("playing", function() {
          //update something related to playback progress
             console.log('playing');
        });

          myAudio.addEventListener("waiting", function() {
          //update something related to playback progress
             console.log('waiting');
        });

          myAudio.addEventListener("play", function() {
          //update something related to playback progress
             console.log('play');
        });

          myAudio.addEventListener("pause", function() {
          //update something related to playback progress
             console.log('pause');
        });

          myAudio.addEventListener("ended", function() {
          //update something related to playback progress
             console.log('ended');
        });

    });

    </script>

</body>
</html>