<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/doc/head :: main-head('Podcast')" />
<body>

<!-- scripts -->
<th:block th:replace="fragments/nav/navbar :: main-navigation" />

<section class="hero is-primary">
    <div class="hero-body">
        <p class="title">
            [(${podcast.feedTitle} ? ${podcast.feedTitle} : ${podcast.feedUrl})]
        </p>
        <p class="subtitle">
            [(${podcast.feedUrl})]
        </p>
    </div>
</section>

<section class="section">
    <h3 class="title is-3">Subscription</h3>
    <form th:action="@{/subscriptions/subscribe}" method="post" th:if="${subscribe}">
        <div class="field">
            <p class="control">
                <input type="hidden" name="podcastId" th:value="${podcast.id}"></input>
                <button type="submit" class="button is-primary is-small">Subscribe</button>
            </p>
        </div>
    </form>
    <form th:action="@{/subscriptions/{subscriptionId}/unsubscribe(subscriptionId=${subscription.id})}" method="post" th:if="${unsubscribe}">
        <div class="field">
            <p class="control">
                <button type="submit" class="button is-primary is-small">Unsubscribe</button>
            </p>
        </div>
    </form>
</section>

<section class="section">
    <h2 class="title is-2">Episodes</h2>
    <ul>
        <li th:each="episode : ${episodes}">
            <div class="box">
                <article>
                    <h5 th:text="${episode.title}" class="title is-5"></h5>
                    <p th:text="${#temporals.format(episode.publishedDate, 'dd/MMM/yyyy HH:mm')}" class="subtitle is-6"></p>
                    <div>
                        <div class="level-item">
                            <a class="button" th:href="@{/listen(audioUrl=${#uris.escapePath(episode.audio.url)},audioType=${episode.audio.type})}">Play</a>
                        </div>
                    </div>
                    <div class="block"></div>
                    <div th:if="${episode.hasEpisodeLink()}">
                        <a th:href="${episode.linkUrl}" class="button is-link is-small" >Go to site</a>
                    </div>
                </article>
            </div>
        </li>
    </ul>

</section>

<section class="section">
    <div class="box">

    <h2 class="title is-2">Manage podcast</h2>
    <form th:action="@{/podcasts/{podcastId}(podcastId=${podcast.id})}" th:method="POST">
        <div class="field">
            <div class="control">
                <button type="submit" name="delete is-dange" class="button">Delete</button>
                <button type="submit" name="refresh" class="button">Refresh</button>
            </div>
        </div>
    </form>

    </div>
</section>

</body>
</html>