<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/doc/head :: main-head('Podcast')" />
<body>

<!-- scripts -->
<th:block th:replace="fragments/nav/navbar :: main-navigation" />

<section class="hero is-primary">
    <div class="hero-body">
        <p class="title">
            [(${podcast.feedTitle} ? ${podcast.feedTitle} : ${podcast.feedUrl})]
        </p>
        <p class="subtitle">
            [(${podcast.feedUrl})]
        </p>
    </div>
</section>

<section class="section">
    <h3 class="title is-3">Subscription</h3>
    <form th:action="@{/subscriptions/subscribe}" method="post" th:if="${subscribe}">
        <div class="field">
            <p class="control">
                <input type="hidden" name="podcastId" th:value="${podcast.id}"></input>
                <button type="submit" class="button is-primary is-small">Subscribe</button>
            </p>
        </div>
    </form>
    <form th:action="@{/subscriptions/{subscriptionId}/unsubscribe(subscriptionId=${subscription.id})}" method="post" th:if="${unsubscribe}">
        <div class="field">
            <p class="control">
                <button type="submit" class="button is-primary is-small">Unsubscribe</button>
            </p>
        </div>
    </form>
</section>

<section class="section">
    <h2 class="title is-2">Episodes</h2>
	<ul id="items">
        <li th:each="episode : ${episodes}">
            <div class="box">
                <article class="media">
                    <figure class="media-left">
                        <p class="image is-64x64">
                            <img th:src="${episode.image.url}" th:alt="${episode.image.title}">
                        </p>
                    </figure>
                    <div class="media-content">
                        <div class="content">
                            <p class="title is-5">[(${episode.title})]</p>
                            <p th:text="${#temporals.format(episode.publishedDate, 'dd/MMM/yyyy HH:mm')}" class="subtitle is-6"></p>
                        </div>
                        <div class="level">
                            <div class="level-left">
	                            <div class="level-item">
	                            	<form th:action="@{/episodes/{episodeId}(episodeId=${episode.id})}" method="POST">
	                                	<div class="field is-grouped">
  											<p class="control">
  												<a class="button" th:href="@{/listen(episodeId=${episode.id})}">Play</a>
  											</p>
  											<th:block th:if="${episode.hasEpisodeLink()}">
  												<p class="control">
						                        	<a th:href="${episode.linkUrl}" class="button is-link" >Go to site</a>
  												</p>
						                    </th:block>
						                   	<p class="control" th:if="${inbox.canAdd(episode.id)}">
						                    	<button type="button" class="button is-danger is-outlined" onclick="window.addToMyInbox();" >Add to my Inbox</button>
						                    </p>
	                                	</div>
	                            	</form>
	                            </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </li>
        
        <li th:if="${next}">
         	<div class="box">
        		<button class="button is-success is-medium is-fullwidth" onclick="window.next();" th:value="${next}">More</button>
         	</div>
        </li>
        
    </ul>
</section>

<section class="section">
    <div class="box">

    <h2 class="title is-2">Manage podcast</h2>
    <form th:action="@{/podcasts/{podcastId}(podcastId=${podcast.id})}" th:method="POST">
        <div class="field">
            <div class="control">
                <button type="submit" name="delete is-dange" class="button">Delete</button>
                <button type="submit" name="refresh" class="button">Refresh</button>
            </div>
        </div>
    </form>

    </div>
</section>

<script type="application/javascript">

	window.next = function(e) {
	    e = e || window.event;
	    
	    e.preventDefault();
	    
	    const $element = e.target || e.srcElement;
	    
	    const $target = $element.closest('li');
	    
	    // Toggle the "is-hidden" class on the parent list element
        $target.classList.toggle('is-hidden');
	    
	    // get the home page but then only the links 
	    var token = document.getElementsByName('_csrf')[0].getAttribute('content');
		var header = document.getElementsByName('_csrf_header')[0].getAttribute('content');
        
        var myHeaders = new Headers();
		myHeaders.append(header, token);
        
        fetch( $element.value, {
                        method: 'GET',
                        headers: myHeaders
                    })
                    .then(response => response.text())
                    .then(html => {
                        console.log('Success:');
                        
                        // Convert the HTML string into a document object
						var parser = new DOMParser();
						var doc = parser.parseFromString(html, 'text/html');
							
						var $listItems = doc.querySelectorAll('#items li');
						console.log($listItems);
						
						for (var i = $listItems.length - 1; i >= 0  ; i--) {
						    $target.after($listItems[i])
						}
                        
                    })
                    .catch((error) => {
                        console.error('Error:', error);
                    });
		
	    
	    return false;
	}
	
	window.addToMyInbox = function(e) {
	    e = e || window.event;
	    
	    e.preventDefault();
	    
	    const $element = e.target || e.srcElement;
	    
	    const $form = $element.form;
	    
	    const $target = $element.closest('li');
	    
	    // Toggle the "is-hidden" class on the parent list element
       // $target.classList.toggle('is-hidden');
        
        var token = document.getElementsByName('_csrf')[0].getAttribute('content');
		var header = document.getElementsByName('_csrf_header')[0].getAttribute('content');
        
        var myHeaders = new Headers();
		myHeaders.append(header, token);
        
        fetch( $form.action , {
                        method: 'PUT',
                        headers: myHeaders
                    })
                    .then(response => response)
                    .then(data => {
                        console.log('Success:', data);
                    })
                    .catch((error) => {
                        console.error('Error:', error);
                    });
		
		return false;
	
	}

</script>

</body>
</html>