<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="apple-touch-icon" th:href="@{/images/apple-touch-icon.png}">
</head>
<body>

<!-- scripts -->
<th:block th:replace="fragments/scripts/navbar :: main-navigation" />

<section class="section">
    <h1 class="title">Podcasts</h1>
    <ul>
        <li th:each="episode : ${episodes}">
            <div class="box">
                <article class="media">
                    <figure class="media-left">
                        <p class="image is-64x64">
                            <img th:src="${episode.imageUrl}" th:alt="${episode.imageTitle}">
                        </p>
                    </figure>
                    <div class="media-content">
                        <div class="content">
                            <p class="title is-5">[(${episode.title})]</p>
                            <p th:text="${#temporals.format(episode.publishedDate, 'dd/MMM/yyyy HH:mm')}" class="subtitle is-6"></p>
                            <div>
                                <audio controls>
                                    <source th:src="${episode.audio.url}" th:type="${episode.audio.type}">
                                    Your browser does not support the audio tag.
                                </audio>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </li>
    </ul>

</section>

<!-- scripts -->
<th:block th:replace="fragments/scripts/navbar :: burger-toggle" />

</body>
</html>