<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/doc/head :: main-head('Home')" />
<body>

<!-- scripts -->
<th:block th:replace="fragments/nav/navbar :: main-navigation" />

<section class="section">
    <h1 class="title">Podcasts</h1>
    <ul>
        <li th:each="episode : ${episodes}">
            <div class="box">
                <article class="media">
                    <figure class="media-left">
                        <p class="image is-64x64">
                            <img th:src="${episode.imageUrl}" th:alt="${episode.imageTitle}">
                        </p>
                    </figure>
                    <div class="media-content">
                        <div class="content">
                            <p class="title is-5">[(${episode.title})]</p>
                            <p th:text="${#temporals.format(episode.publishedDate, 'dd/MMM/yyyy HH:mm')}" class="subtitle is-6"></p>
                        </div>
                        <div class="level">
                            <div class="level-left">
                                <div class="level-item">
                                    <a class="button" th:href="@{/listen(episodeId=${episode.id})}">Play</a>
                                </div>
                                <div class="level-item">
                                    <button class="button is-danger is-outlined not-interested" th:data-episode-id="${episode.id}">Not Interested</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </li>
    </ul>

</section>

<script type="application/javascript">

    document.addEventListener("DOMContentLoaded", function(event) {

        // Get all "not-interested" elements
        const $notInterested = Array.prototype.slice.call(document.querySelectorAll('.not-interested'), 0);

        // Check if there are any elements
        if ($notInterested.length > 0) {

            // Add a click event on each of them
            $notInterested.forEach( el => {
                el.addEventListener('click', () => {

                    // Get the target from the "data-target" attribute
                    const episodeId = el.dataset.episodeId;
                    const $target = el.closest('li');

                    console.log(episodeId);
                    // Toggle the "is-hidden" class on the parent list element
                    $target.classList.toggle('is-hidden');

                    fetch('/episodes/not-interested/'+ episodeId, {
                        method: 'POST'
                    })
                    .then(response => response)
                    .then(data => {
                        console.log('Success:', data);
                    })
                    .catch((error) => {
                        console.error('Error:', error);
                    });

                });
            });
        }

        // Get all "interested" elements
        const $interested = Array.prototype.slice.call(document.querySelectorAll('.interested'), 0);

        // Check if there are any elements
        if ($interested.length > 0) {

            // Add a click event on each of them
            $interested.forEach( el => {
                el.addEventListener('click', () => {

                    // Get the target from the "data-target" attribute
                    const episodeId = el.dataset.episodeId;
                    const $target = el.closest('li');

                    console.log(episodeId);
                    // Toggle the "is-hidden" class on the parent list element
                    $target.classList.toggle('is-hidden');

                    fetch('/episodes/interested/'+ episodeId, {
                        method: 'POST'
                    })
                        .then(response => response)
                        .then(data => {
                            console.log('Success:', data);
                        })
                        .catch((error) => {
                            console.error('Error:', error);
                        });

                });
            });
        }

    });

</script>

</body>
</html>