<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="apple-touch-icon" th:href="@{/images/apple-touch-icon.png}">
</head>
<body>

<nav class="navbar" role="navigation" aria-label="main navigation">

    <div class="navbar-brand">
        <a class="navbar-item" th:href="@{/}">
            <img th:src="@{/images/apple-touch-icon.png}" width="28" height="28">
            <span class="is-size-3"><strong>Feeds</strong></span>
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" th:href="@{/}">
                Home
            </a>
            <a class="navbar-item" th:href="@{/subscriptions}">
                Subscriptions
            </a>
        </div>
    </div>

</nav>

<section class="section">
    <h1 class="title">Podcasts</h1>
    <ul>
        <li th:each="podcast : ${podcasts}">

            <div class="box">

                <a th:href="@{/podcasts/{podcastId}(podcastId=${podcast.id})}">

                    <article class="media">
                        <figure class="media-left">
                            <p class="image is-64x64">
                                <img th:src="${podcast.feedImageUrl}" th:alt="${podcast.feedImageTitle}">
                            </p>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <p class="title is-5">[(${podcast.feedTitle} ? ${podcast.feedTitle} : ${podcast.feedUrl})]</p>
                            </div>
                            <div class="level" th:if="${subscriptions.canSubscribe(podcast.id)}">
                                <form th:action="@{/subscriptions/subscribe}" method="post">
                                    <div class="field">
                                        <p class="control">
                                            <input type="hidden" name="podcastId" th:value="${podcast.id}"></input>
                                            <button type="submit" class="button is-primary is-small">Subscribe</button>
                                        </p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </article>

                </a>

            </div>
        </li>
    </ul>

</section>

<section class="section">

    <div class="box">

        <h2 class="title is-2">Add new podcasts</h2>
        <form th:action="@{/podcasts}" th:method="POST">
            <div class="field">
                    <div class="control">
                        <input type="text" name="feedUrl" class="input">
                    </div>
            </div>
            <div class="field">
                <div class="control">
                    <button type="submit" name="add" value="add" class="button is-primary">Submit</button>
                </div>
            </div>
        </form>

    </div>

</section>

<section class="section">

    <div class="box">

        <h2 class="title is-2">Manage podcasts</h2>
        <form th:action="@{/podcasts}" th:method="POST">
            <div class="field">
                <div class="control">
                    <button type="submit" name="refresh" value="refresh" class="button">Refresh All</button>
                </div>
            </div>
        </form>

    </div>

</section>

<!-- scripts -->
<th:block th:replace="fragments/scripts/navbar :: burger-toggle" />

</body>
</html>