<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/doc/head :: main-head('Inbox')" />
<body>

<!-- scripts -->
<th:block th:replace="fragments/nav/navbar :: main-navigation" />

<section class="section">
    <!--<h1 class="title">Inbox</h1>-->
    <div class="tabs is-toggle is-toggle-rounded">
	  <ul>
	    <li th:classAppend="${saved} ? '' : 'is-active'">
	      <a th:href="@{/}">
	        Inbox
	      </a>
	    </li>
	    <li th:classAppend="${saved} ? 'is-active' : ''">
	      <a th:href="@{/?saved=true}">
	         Saved
	      </a>
	    </li>
	  </ul>
	</div>
    <ul id="items">
        <li th:each="item : ${items}">
            <div class="box">
                <article class="media">
                    <figure class="media-left">
                        <p class="image is-64x64">
                            <img th:src="${item.episodeImageUrl}" th:alt="${item.episodeImageTitle}">
                        </p>
                    </figure>
                    <div class="media-content">
                        <div class="content">
                            <p class="title is-5">[(${item.episodeTitle})]</p>
                            <p th:text="${#temporals.format(item.episodePublishedDate, 'dd/MMM/yyyy HH:mm')}" class="subtitle is-6"></p>
                        </div>
                        <div class="level">
                            <div class="level-left">
	                            <div class="level-item">
	                            	<form th:action="@{/episodes/{episodeId}(episodeId=${item.episodeId})}" method="POST">
	                                	<div class="field is-grouped">
  											<p class="control">
  												<a class="button" th:href="@{/listen(episodeId=${item.episodeId})}">Play</a>
  											</p>
  											<p class="control">
	                                    		<button type="button" class="button is-danger is-outlined" onclick="window.delete();" >Delete</button>
  											</p>
  											<p class="control" th:unless="${saved}">
	                                    		<button type="button" class="button is-warning is-outlined" onclick="window.saveForLater();" >Save For Later</button>
  											</p>
	                                	</div>
	                            	</form>
	                            </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </li>
        
        <li th:if="${next}">
         	<div class="box">
        		<button class="button is-success is-medium is-fullwidth" onclick="window.next();" th:value="${next}">More</button>
         	</div>
        </li>
        
    </ul>

</section>

<script type="application/javascript">

	window.next = function(e) {
	    e = e || window.event;
	    
	    e.preventDefault();
	    
	    const $element = e.target || e.srcElement;
	    
	    const $target = $element.closest('li');
	    
	    // Toggle the "is-hidden" class on the parent list element
        $target.classList.toggle('is-hidden');
	    
	    // get the home page but then only the links 
	    var token = document.getElementsByName('_csrf')[0].getAttribute('content');
		var header = document.getElementsByName('_csrf_header')[0].getAttribute('content');
        
        var myHeaders = new Headers();
		myHeaders.append(header, token);
        
        fetch( $element.value, {
                        method: 'GET',
                        headers: myHeaders
                    })
                    .then(response => response.text())
                    .then(html => {
                        console.log('Success:');
                        
                        // Convert the HTML string into a document object
						var parser = new DOMParser();
						var doc = parser.parseFromString(html, 'text/html');
							
						var $listItems = doc.querySelectorAll('#items li');
						console.log($listItems);
						
						for (var i = $listItems.length - 1; i >= 0  ; i--) {
						    $target.after($listItems[i])
						}
                        
                    })
                    .catch((error) => {
                        console.error('Error:', error);
                    });
		
	    
	    return false;
	}

	window.delete = function(e) {
	    e = e || window.event;
	    
	    e.preventDefault();
	    
	    const $element = e.target || e.srcElement;
	    
	    const $form = $element.form;
	    
	    const $target = $element.closest('li');
	    
	    // Toggle the "is-hidden" class on the parent list element
        $target.classList.toggle('is-hidden');
        
        var token = document.getElementsByName('_csrf')[0].getAttribute('content');
		var header = document.getElementsByName('_csrf_header')[0].getAttribute('content');
        
        var myHeaders = new Headers();
		myHeaders.append(header, token);
        
        fetch( $form.action , {
                        method: 'DELETE',
                        headers: myHeaders
                    })
                    .then(response => response)
                    .then(data => {
                        console.log('Success:', data);
                    })
                    .catch((error) => {
                        console.error('Error:', error);
                    });
		
		return false;
	
	}
	
	window.saveForLater = function(e) {
	    e = e || window.event;
	    
	    e.preventDefault();
	    
	    const $element = e.target || e.srcElement;
	    
	    const $form = $element.form;
	    
	    const $target = $element.closest('li');
	    
	    // Toggle the "is-hidden" class on the parent list element
        $target.classList.toggle('is-hidden');
        
        var token = document.getElementsByName('_csrf')[0].getAttribute('content');
		var header = document.getElementsByName('_csrf_header')[0].getAttribute('content');
        
        var myHeaders = new Headers();
		myHeaders.append(header, token);
        
        fetch( $form.action + "/save" , {
                        method: 'POST',
                        headers: myHeaders
                    })
                    .then(response => response)
                    .then(data => {
                        console.log('Success:', data);
                    })
                    .catch((error) => {
                        console.error('Error:', error);
                    });
		
		return false;
	
	}

</script>

</body>
</html>