<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

<nav class="navbar" role="navigation" aria-label="main navigation" th:fragment="main-navigation">

    <div class="navbar-brand">
        <a class="navbar-item" th:href="@{/}">
            <img th:src="@{/images/apple-touch-icon.png}" width="28" height="28">
            <span class="is-size-3"><strong>Feeds</strong></span>
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" th:href="@{/}">
                Home
            </a>
            <a class="navbar-item" th:href="@{/listen}">
                Listen
            </a>
            <a class="navbar-item" th:href="@{/newreleases}">
                New Releases
            </a>
            <a class="navbar-item" th:href="@{/subscriptions}">
                Subscriptions
            </a>
            <a class="navbar-item" th:href="@{/podcasts}">
                Podcasts
            </a>
        </div>
        <div class="navbar-end">
	        <div class="navbar-item">
	            <a class="button is-light" th:href="@{/logout}">
	                Log out
	            </a>
	        </div>
        </div>
    </div>

</nav>

<script th:fragment="burger-toggle" type="application/javascript">

    document.addEventListener("DOMContentLoaded", function(event) {

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

            // Add a click event on each of them
            $navbarBurgers.forEach( el => {
                el.addEventListener('click', () => {

                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);

                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');

                });
            });
        }

    });

</script>

</body>
</html>