<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/doc/head :: main-head('Subscriptions')" />
<body>

<!-- scripts -->
<th:block th:replace="fragments/nav/navbar :: main-navigation" />

<section class="hero is-primary">
    <div class="hero-body">
        <p class="title">
            Subscriptions
        </p>
    </div>
</section>

<section class="section">
    <h2 class="title is-2">Podcasts</h2>
    <ul>
        <li th:each="podcastSubscription : ${podcastSubscriptions}">

            <div class="box">

                <a th:href="@{/podcasts/{podcastId}(podcastId=${podcastSubscription.podcast.id})}">

                    <article class="media">
                        <figure class="media-left">
                            <p class="image is-64x64">
                                <img th:src="${podcastSubscription.podcast.feedImageUrl}" th:alt="${podcastSubscription.podcast.feedImageTitle}">
                            </p>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <p class="title is-5">[(${podcastSubscription.podcast.feedTitle} ? ${podcastSubscription.podcast.feedTitle} : ${podcastSubscription.podcast.feedUrl})]</p>
                            </div>
                            <div class="level">
                                <form th:action="@{/subscriptions/{subscriptionId}/unsubscribe(subscriptionId=${podcastSubscription.subscription.id})}" method="post">
                                    <div class="field">
                                        <p class="control">
                                            <input type="hidden" name="subscriptionId" th:value="${podcastSubscription.subscription.id}"></input>
                                            <button type="submit" class="button is-primary is-small">Unsubscribe</button>
                                        </p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </article>

                </a>

            </div>
        </li>
    </ul>

</section>

<!-- scripts -->
<th:block th:replace="fragments/nav/navbar :: burger-toggle" />

</body>
</html>